/*
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */
manifest {
  name = 'Ramanandan/rnaseq_nextflow'
  author = 'Ramanandan Prabhakaran'
  homePage = 'https://github.com/Ramanandan/rnaseq_nextflow'
  description = 'RNASeq pipeline implemented with Nextflow - Raw Reads to Count File and QC reports'
  mainScript = 'main.nf'
  nextflowVersion = '>= 20.04.1'
}

process {
  container = 'bioinforesearchquestions/rnaseq_tools:v1'
}
